.cabecalho_menu-hambunguer{
    width: 24px;
    height: 24;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--azul);
    display: flex;
    justifiy-content: space-between;
    align-items: center;
    position: relative;
}

.contaneir_imagem{
    padding: lem;
}

.list-menu{
   display: none;
   position: absolute;
   top: 
   width



}